<div class="container mt-5 pb-5">
  <div class="text-center">
    <h1><%= @category.name %> Transactions</h1>

    <p>Total Amount: $<%= @total_amount %></p>
  </div>

  <!-- List of transactions ordered by most recent -->
  <% @user_transactions.each do |transaction| %>
    <div class="card mb-3 rounded-0">
      <div class="card-body d-flex justify-content-between">
        <div class="transaction-category-image d-flex align-items-center gap-2">
          <div>
            <%= image_tag(transaction.category.icon, width: 100, height: 100) if transaction.category&.icon.present? %>
          </div>
          <div class="d-flex flex-column gap-2">
            <p><%= transaction.name %></p>
            <%= transaction.created_at.strftime('%d %b %Y') %>
          </div>
        </div>
        <div class="d-flex flex-column align-content-center mt-2">
          <p>$<%= transaction.amount %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="text-center mb-5 bg-green">
    <div class="btn-container border border-white">
      <%= link_to 'Add a new Transaction', url_for(controller: 'user_transactions', action: 'new'), class: 'btn d-flex flex-column
     mx-2 my-3 text-white justify-content-center border border-white width-95 height-4' %>
    </div>
  </div>

</div>
