<!-- app/views/user_transactions/new.html.erb -->
<div class="container mt-5">
  <h1>Add a new transaction</h1>

<%= form_with(model: @user_transaction, url: user_transactions_path, local: true) do |form| %>

<div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :amount, class: 'form-label' %>
      <%= form.number_field :amount, class: 'form-control' %>
    </div>

<!--    <div class="mb-3">-->
      <%#= form.label :category_id, class: 'form-label' %>
      <%#= form.collection_select :category_id, @categories, :id, :name, { prompt: "Select a category" }, class: 'form-select' %>
<!--    </div>-->
    <div class="mb-3">
      <%= form.label :category_id, class: 'form-label' %>
      <%= form.select :category_id, options_from_collection_for_select(@categories, :id, :name), { prompt: "Select Category" }, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'Back', user_transactions_path(@category), class: 'btn btn-secondary' %>
</div>
